.root {
  padding: 1.5rem 2rem;
  min-height: 100vh;
  color: #a8a9ac;
  background-color: #e4e4e4;
}

.title {
  color: #a4a6a8;
  font-weight: normal;
  strong {
    color: #636363;
    font-weight: bold;
  }
}

.tableHeader {
  margin-top: 3rem;
}
